@use 'mixins' as *;
$primary-color: #FDFEFE;
$secondary-color: #85929E;
$terthiary-color: #B8BB9A;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @include FlexDisplay(column, center, center, 100%, auto);
    color:$primary-color;
    background-color: $secondary-color;
    font-family: sans-serif, 'Courier New', Courier, monospace;
}
#app{
    @include FlexDisplay(column, normal, center, 100%, auto);
}