@mixin FlexDisplay($firstParameter, $secondParameter, $thirdParameter, $fourthParameter, $fifthParameter){
    display: flex;
    flex-direction: $firstParameter;
    justify-content: $secondParameter;
    align-items: $thirdParameter;
    width: $fourthParameter;
    height: $fifthParameter;
}
