@use "mixins" as *;

.card-base{
    border-radius: 10px;
    @include FlexDisplay(column, space-evenly, center, 100%, 100%);
    z-index: -1;
}

.normal {
    background-color: #8D6E63;
}

.fighting {
    background-color: #ff0000f5;
}

.flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.poison {
    background-color: #EC407A;
}

.ground {
    background-color: #FF5722;
}

.rock {
    background-color: #FF8A65;
}

.bug {
    background-color: #cbe635;
}

.ghost {
    background-color: #6A1B9A;
}

.steel {
    background-color: #0000;
}

.fire {
    background-color: #F39C12;
}

.water {
    background-color: #0D47A1;
}

.grass {
    background-color: #2E7D32 ;
}

.electric {
    background-color: #F1C40F;
}

.psychic {
    background-color: #E91E63;
}

.ice {
    background-color: #26A69A;
}

.dragon {
    background-color: #CE93D8;
}

.dark {
    background-color: #880E4F;
}

.fairy {
    background-color: #FF66CC;
}

.shadow {
    background-color: #6A1B9A;
}